<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 接口的全限定名 -->
<mapper namespace="com.baizhi.dao.AlbumDao">
    <!--查询所有-->
    <select id="select" resultType="Album">
        select * from album
    </select>
    <!--分页查询-->
    <select id="selectByPage" resultType="Album">
        select * from album limit #{start},#{rows}
    </select>
    <!--查询总条数-->
    <select id="selectCunt" resultType="int">
        select count(id) from album
    </select>
    <!--添加-->
    <insert id="insert">
        insert into album values (#{id},#{title},#{img},#{score},#{author},#{broadcaster},#{count},#{brief},#{create_date},#{status},#{other})
    </insert>

    <!--修改-->
    <update id="update">
        update album
        <trim prefix="set" suffixOverrides=",">
            <if test="title != null">
                title = #{title} ,
            </if>
            <if test="img != null">
                img = #{img} ,
            </if>
            <if test="score != null">
                score = #{score} ,
            </if>
            <if test="author != null">
                author = #{author} ,
            </if>
            <if test="broadcaster != null">
                broadcaster = #{broadcaster} ,
            </if>
            <if test="count != null">
                count = #{count} ,
            </if>
            <if test="brief != null">
                brief = #{brief} ,
            </if>
            <if test="create_date != null">
                create_date = #{create_date} ,
            </if>
            <if test="status != null">
                status = #{status} ,
            </if>
            <if test="other != null">
                other = #{other}
            </if>
        </trim>
        where id = #{id}
    </update>

    <!-- 批量删除 -->
    <delete id="delete">
        delete from album where  id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--id查-->
    <select id="selectById" resultType="Album">
        select * from album where id = #{id}
    </select>
</mapper>